<div class="keep-shopping">
    <%= link_to 'Keep Shoppping', products_path %>
</div>
<hr>

<section class="section">
    <% @cart.line_items.each do |pro| %>
        <div><h2 class="product-title"><%= pro.product.title %></h2></div>
        <div><p>Price  :<%= pro.product.price %></p></div>  
        <div><p>Quantity  :<%= pro.quantity %></p></div>  
        <div><%= number_to_currency(pro.total_price)%></div>
        <div><%= link_to 'Remove Item', line_item_path(pro), method: :delete, data: {confirm: "Are you sure?"}%></div>
        <hr>  
    <%end%>

    <div style="display: flex;class="column">
    <%= button_to 'Empty Cart', @cart, method: :delete, data: {confirm: "Are you Sure?"}%>
    <%= button_to 'Go Checkout', checkout_create_path, method: :post, params: {id: @cart.id} , remote: true%>
    </div>

    <div class="column">
    <h4>Total: <%= number_to_currency(@cart.total_price)%></h4>
    </div>
</section>