<!DOCTYPE html>
<html>
  <head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://js.stripe.com/v3/"></script>
    <title>Ecommerce</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
       <div class="navbar navbar-default">
        <div class="container">
          <div class="navbar-header">
            <b><%= link_to "E-MART", root_path, class: "navbar-brand" %></b>    
          </div>
          <ul class="nav navbar-nav">
            <li><%= link_to "Sign Up", new_user_registration_path%></li>
            <% if user_signed_in? %>
            <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
            <% else %>
            <li><%= link_to "Sign In", new_user_session_path %></li>
            <% end %>
            <% if cart_has_items %>
              <li><%= link_to cart_path(@cart) do%>
                <i class="fa fa-shopping-cart"></i>
                Cart<%= cart_count_over_one%></li>
              <% end %>
            <% end %>
        </ul>
          <% if user_signed_in? && current_user.isAdmin %>   
          <%= link_to "New Product", new_product_path ,class: "navbar-right navbar-text navbar-link"%>
          <%= link_to "New category", new_category_path ,class: "navbar-right navbar-text navbar-link"%>
          <%= link_to "Purchases ", purchases_path ,class: "navbar-right navbar-text navbar-link"%>
          <%= link_to "Categories ", categories_path ,class: "navbar-right navbar-text navbar-link"%>
          <% end %>
        </div> 
      </div>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
   

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
